<h1>Maruf Rahman</h1>
<%=image_tag("maruf.jpg", size: "200")%>
<p style="background-color:green; color:white">Los Angeles</p>
<p> Senior </p>
<p style="font-weight:bold; color:red">I sleep a lot!</p>
<p style="text-decoration:underline; color:blue">Make a website!</p>
